<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <!-- 指定数据库驱动地址 -->
    <!--<classPathEntry location="G:/MavenRepertory/mysql/mysql-connector-java/5.1.38/mysql-connector-java-5.1.38.jar" />-->
    <context id="MysqlTables" targetRuntime="MyBatis3Simple">

        <commentGenerator >
            <property name="suppressAllComments" value="fasle"/><!-- 是否取消注释 -->
            <property name="suppressDate" value="true" /> <!-- 是否生成注释代时间戳-->
            <property name="addRemarkComments" value="true" /> <!-- 是否生成注释代时间戳-->
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/test?ssl=false"
                        userId="root"
                        password="123456">
        </jdbcConnection>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="myloe.bean" targetProject=".\src\main\java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mybatis-mapper"  targetProject="E:\IDEAWorkspace\mybatis-spring\src\main\resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="myloe.mapper"  targetProject=".\src\main\java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <table tableName="student" domainObjectName="Student" >
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="ID" sqlStatement="MySql" identity="true" />
        </table>
        <table tableName="classes" domainObjectName="Classes" >
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="ID" sqlStatement="MYSQL" identity="true" />
        </table>
    </context>
</generatorConfiguration>